<html>

  <head>
    <title>Like Twitter, but 5hitter!</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </head>

  <body>

    <header>
      <span class="spanFormat">
          <a href='/' id='home' class='button'>Home</a>
      </span>
        <% if current_user %>
          <span class="spanFormat">
            <form method='post' action='/sessions'>
              <input type='hidden' name='_method' value='delete'>
              <input type='submit' value='Sign out' class='button'>
            </form>
          </span>
          <span class="spanFormat">
            <form method='post' action='/user/profile'>
              <input type='submit' value='Profile' class='button'>
            </form>
          </span>
    
        <% else %>
        <span class="spanFormat">
            <a href='/users/new' id='sign_up' class='button'>Sign up</a>
        </span>
        <span class="spanFormat">
            <a href='/sessions/new' id='sign_in' class='button'>Sign in</a>
        </span>
        <% end %>
      
    </header>

    <% if flash[:notice] %>
      <div id='notice'>
      <%= flash[:notice] %>
      </div>
    <% end %>
  
    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with   the form.
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  
    <%= yield %>

    <footer></footer>
    
  </body>

</html>